* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

body {
	padding-top: 40px;
	background: darkgrey;
}

/* styling for index.html and main content pages */
#main-section {
	padding-top: 10px;
	background: white;
	border-radius: 12px;
}

#main-section .jumbotron {
	margin: 20px 0px 0px 0px;
	padding: 15px;
	border-radius: 12px 12px 0px 0px;
}

#jumbo-header {
	border-bottom: 1px solid darkgrey;
}

#main-section .row {
	margin: 0px;
}

#main-section [class^="col-"] {
	padding: 15px 15px;
	background: lightcoral;
	color: white;
}

#main-section h4 {
	text-transform: uppercase;
}

@media screen and (max-width: 991px) {
	#col-bottom-left {border-radius: 0px 0px 0px 0px;}
	#col-bottom-right {border-radius: 0px 0px 12px 12px;}
}

@media screen and (min-width: 992px) {
	#col-bottom-left {border-radius: 0px 0px 0px 12px;}
	#col-bottom-right {border-radius: 0px 0px 12px 0px;}
	#main-section [class^="col-"]:nth-child(odd) {border-right: 1px solid white;}
}

/* styling for terms.html */
#tos-section {
	padding-top: 30px;
	background: white;
	border-radius: 12px;
}

#tos-section article {
	padding: 0px 15px 15px 15px;
}