/*RESETS MARGINS/PADDING FOR ALL ELEMENTS*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*NAVBAR CONFIG*/

@media only screen and (min-width:600px) {
	#responsive {
		font-size: 20px;
	}

	#responsive li:last-child {
		float: right;
	}
}

@media only screen and (max-width: 599px) {
	nav {
		font-size: 15.25px;
	}
}

nav img {
	width: 100%;
	display: block;
}

nav ul {
	font-family: 'Audiowide', cursive;
	list-style-type: none;
	overflow: hidden;
	background-color: purple;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
}

nav ul li a:hover:not(.active), .dropdown:hover:not(.active) {
	background-color: orange;
	color: white;
}

.active {
	background-color: orange;
	color: white;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	background-color: lightGrey;
}

.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:not(.active) {
	color: black;
}

.dropdown-content a:hover:not(.active) {
	color: white;
	background-color: DarkGrey;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/*FOOTER CONFIG*/
#footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}

#footer p {
	font-family: 'Exo 2', serif;
	padding-bottom: 5px;
}

#sitemap li {
	display: inline;
}